.container {
	border-radius: 12px;
	padding: 17px 16px 18px 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	left: 0;
}

.red {
	background-color: rgba(255, 85, 85, 0.05);
}
.yellow {
	background-color: rgba(255, 176, 30, 0.05);
}
.green {
	background-color: rgba(0, 187, 143, 0.05);
}
.blue {
	background-color: rgba(17, 37, 214, 0.05);
}

.typeContainer {
	display: flex;
	align-items: center;
	gap: 12px;
}

.scoreContainer {
	display: flex;
	align-items: center;
	gap: 8px;
}
